<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin-ext,latin,cyrillic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render partial: "shared/toppage" %>

    <div class="container col-xs-12">


      <div class="container col-sm-3 col-xs-6">
        <div class="col-xs-12" style="margin-top:10px;">
          <div class="col-xs-4">
            <button type="button" class="btn btn-default" onclick="create_probject_func()">
              <span class="front-page-icon glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
          </div>
          <div class-"col-xs-4">
            <button type="button" class="btn btn-default" onclick="search_project_func();">
              <span class="front-page-icon glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>


        <form class="col-xs-12 project-search-create" id="new-project" accept-charset="UTF-8" action="/project/create" method="post">
          <input class="form-control input-sm" type="text" placeholder="Project Name" name="project[title]"></input>
          <textarea class="form-control input-sm" type="text" placeholder="Project Name" style="max-width: 100%; max-height: 200px; " name="project[description]"></textarea>
          <button name="commit" type="submit" value="Create" class="btn btn-primary btn-sm">Create</button>
        </form>

        <div class="col-xs-12 project-search-create" id="search-project">
          <input class="form-control input-md" type="text" placeholder="Search for pro"></input>
        </div>

        <div class="col-xs-12">
          <button type="button" class=" col-xs-12 btn btn-default" onclick="get_presentations_of_project(<%= -1%>)">All Pre</button>
          <% @projects.each do |project|%>
              <button type="button" class=" col-xs-12 btn btn-default" onclick="get_presentations_of_project(<%=project.id%>)"><%=project.title%></button>
          <% end %>
        </div>
      </div>



      <div id="main-page-body" class="col-sm-9 col-xs-12">
        <div class="presentation-operations">
          <span class="fa fa-arrow-right fa-lg" title="Edit" style="margin-left: 2%"></span>
        </div>
        <div id="presentations-show" class="col-xs-12 presentations-show">
          <% @project_presentations.each do |project_id, presentations| %>
            <% ran = Random.new(); ran1 = ran.rand(225); ran2 = ran.rand(255); ran3 = ran.rand(225) %>
            <% presentations.each do |pre| %>
              <div class="presentation-blocks pre-of-<%=project_id%>" style="background: rgba( <%= ran1 %>, <%= ran2 %>, <%= ran3 %>, 0.5);">
                <a href="/pre/<%=pre[:id]%>"> <%= pre[:title] + pre[:description]%></a>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>


  </div>


  </body>
</html>
