<!DOCTYPE html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <title>Slide</title>
</head>
<body>
  <div id="presentation">
  <div id="main-slide" class="col-sm-12 col-xs-12" style="padding:0">
    <div class="col-xs-3">
      <div class="row">
        <div id="functionality-buttons">
          <p style="font-color: white"> Utility </p>
          <a id="add-default-textblock-button">
            <span class="fa fa-plus fa-2x" title="Edit"></span>
          </a>
          <a id="add-editable-textblock-button">
            <span class="fa fa-calendar-plus-o fa-2x" title="Edit"></span>
          </a>
          <a id="add-codeblock-button">
            <span class="fa fa-plus-square fa-2x" title="Edit"></span>
          </a>
          <a id="add-image-block">
            <span class="fa fa-amazon fa-2x" title="Edit" style="color:#CD5C5C"></span>
          </a>
          <a href=""><span class="fa fa-google fa-2x" title="Edit" style="color:#CD5C5C"></span></a>
          <a href=""><span class="fa fa-facebook-square fa-2x" title="Edit" style="color:#CD5C5C"></span></a>
          <a href=""><span class="fa fa-twitter fa-2x" title="Edit" style="color:#CD5C5C"></span></a>
          <a href=""><span class="fa fa-yc-square fa-2x" title="Edit" style="color:#CD5C5C"></span></a>
          <a href=""><span class="fa fa-youtube fa-2x" title="Edit" style="color:#CD5C5C"></span></a>
        </div>
        <div id='text-edit-toolbar'>
          <div id='block-decorator'>
            <ul id='block-decorator-options'>
              <li class='block-decorator-border-size'>
                <div class='border-size'>Border width</div>
                <div class='block-border-size-adjustable'>
                  <div class='arrow-up'><span class='fa fa-arrow-up' title='Edit'></span></div>
                  <div class='arrow-down'><span class='fa fa-arrow-down' title='Edit'></span></div>
                </div>
              </li>
              <li class='block-decorator-border-radius'>
                <span class='border-radius'>Border Radius</span>
                <span class='block-border-radius-adjustable'>
                  <div class='arrow-up'><span class='fa fa-arrow-up' title='Edit'></span></div>
                  <div class='arrow-down'><span class='fa fa-arrow-down' title='Edit'></span></div>
                </span>
              </li>
              <li class='block-decorator-border-color'>
                <div class="border-color">
                  <div class="color-options">
                  </div>
                </div>
              </li>
              <li class='block-decorator-background-color'>
                <div class="background-color">
                  <div class="color-options">
                  </div>
                </div>
              </li>
              <li class='block-decorator-background-image'></li>
            </ul>
          </div>
          <ul class="text-edit-buttons pull-right" style="display: none;">
            <li>
              <a class="text-edit-color">
                <span class="fa fa-th-large fa-2x" title="Edit"></span>
              </a>
              <select title="Text Color" class="ql-color">
                <option value="rgb(255, 255, 255)">White</option>
                <option value="rgb(0, 0, 0)" selected>Black</option>
                <option value="rgb(255, 0, 0)">Red</option>
                <option value="rgb(0, 0, 255)">Blue</option>
                <option value="rgb(0, 255, 0)">Lime</option>
                <option value="rgb(0, 128, 128)">Teal</option>
                <option value="rgb(255, 0, 255)">Magenta</option>
                <option value="rgb(255, 255, 0)">Yellow</option>
              </select>
            </li>
            <li>
              <a class="text-edit-background">
                <span class="fa fa-wordpress fa-2x" title="Edit"></span>
              </a>
              <select title="Background Color" class="ql-background">
                <option value="rgb(255, 255, 255)" selected>White</option>
                <option value="rgb(0, 0, 0)">Black</option>
                <option value="rgb(255, 0, 0)">Red</option>
                <option value="rgb(0, 0, 255)">Blue</option>
                <option value="rgb(0, 255, 0)">Lime</option>
                <option value="rgb(0, 128, 128)">Teal</option>
                <option value="rgb(255, 0, 255)">Magenta</option>
                <option value="rgb(255, 255, 0)">Yellow</option>
              </select>
            </li>
            <li>
              <span class="font-options">
                <a>
                  <p data-value="'Open Sans', sans-serif" style="font-family: 'Open Sans', sans-serif;">Queen and Jack</p>
                </a>
                <a>
                  <p data-value="'Open Sans Condensed', sans-serif" style="font-family: 'Open Sans Condensed', sans-serif;">Queen and Jack</p>
                </a>
                <a>
                  <p data-value="'Indie Flower', cursive" style="font-family:'Indie Flower', cursive;">Queen and Jack</p>
                </a>
                <a>
                  <p data-value="'Poiret One', cursive" style="font-family: 'Poiret One', cursive;">Queen and Jack</p>
                </a>
              </span>
              <a class="text-edit-font">
                <span class="fa fa-font fa-2x" title="Edit"></span>
              </a>
            </li>
            <li class="text-edit-size">
              <span class="size-options" >
                <a><span data-value="10px" style="font-size: 10px;">10</span></a>
                <a><span data-value="11px" style="font-size: 11px;">11</span></a>
                <a><span data-value="12px" style="font-size: 12px;">12</span></a>
                <a><span data-value="13px" style="font-size: 13px;">13</span></a>
                <a><span data-value="14px" style="font-size: 14px;">14</span></a>
                <a><span data-value="15px" style="font-size: 15px;">15</span></a>
                <a><span data-value="16px" style="font-size: 16px;">16</span></a>
              </span>
              <a >
                <span class="ql-size fa fa-text-height fa-2x" title="Edit"></span>
              </a>
              <select class="ql-size">
                <option value="10px">Small</option>
                <option value="10px">Small</option>
                <option value="11px">Small</option>
                <option value="12px">Small</option>
                <option value="13px">Small</option>
                <option value="14px">Normal</option>
                <option value="15px">Large</option>
                <option value="17px">Huge</option>
                <option value="18px">Huge</option>
                <option value="19px">Huge</option>
                <option value="20px">Huge</option>
                <option value="21px">Huge</option>
              </select>
            </li>
            <li>
              <a class="text-edit-bold ql-bold">
                <span class="fa fa-bold fa-2x" title="Edit"></span>
              </a>
            </li>
            <li>
              <a class="text-edit-italic ql-italic">
                <span class="fa fa-italic fa-2x" title="Edit"></span>
              </a>
            </li>
            <li>
              <a class="text-edit-underline ql-underline">
                <span class="fa fa-underline fa-2x" title="Edit"></span>
              </a>
            </li>
            <li>
              <a class="text-edit-strike ql-strike">
                <span class="fa fa-strikethrough fa-2x" title="Edit"></span>
              </a>
            </li>
            <li>
              <a class="text-edit-olist ql-list">
                <span class="fa fa-list-ol fa-2x" title="Edit"></span>
              </a>
            </li>
            <li>
              <a class="text-edit-ulist ql-bullet">
                <span class="fa fa-list-ul fa-2x" title="Edit"></span>
              </a>
            </li>
            <li>
              <a class="text-edit-position-left">
                <span class="fa fa-align-left fa-2x" title="Edit"></span>
              </a>
              <select title="Text Alignment" class="ql-align">
                <option value="left" selected>Left</option>
                <option value="center">Center</option>
                <option value="right">Right</option>
                <option value="justify">Justify</option>
              </select>
            </li>
            <li>
              <a class="text-edit-position-middle">
                <span class="fa fa-align-justify fa-2x" title="Edit"></span>
              </a>
            </li>
            <li>
              <a class="text-edit-position-right">
                <span class="fa fa-align-right fa-2x" title="Edit"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-11" style="padding:0px; margin-top: 30px">
          <div class="menu-options col-xs-1" style="padding: 0">
          </div>
          <button type="button" id="changing-background-image" class="col-xs-10 slide-buttons" style="padding: 0; display:none;">
            background
          </button>
          <div class="col-xs-10" id="image-folder" style="display:none;">
          </div>
        </div>
        <div class="col-xs-12" style="padding:0px; margin-top: 30px">
          <div class="menu-options col-xs-1" style="padding: 0">
          </div>
          <button type="button" class="col-xs-9 slide-buttons" style="padding: 0; display:none;">
          background
          </button>
        </div>
        <div class="col-xs-12" style="padding:0px; margin-top: 30px">
          <div class="menu-options col-xs-1" style="padding: 0">
          </div>
          <button type="button" class="col-xs-9 slide-buttons" style="padding: 0; display:none;">
          background
          </button>
        </div>
        <div class="col-xs-12" style="padding:0px; margin-top: 30px">
          <div class="menu-options col-xs-1" style="padding: 0">
          </div>
          <button type="button" class="col-xs-9 slide-buttons" style="padding: 0; display:none;">
          background
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-9 center-block" style="height: 100%; padding:0">
      <div id="slide-container">
        <div id="slide-container-header">
          <span class="fa fa-newspaper-o fa-4x" title="Edit"></span>
        </div>
        <div id="slide-container-body" class="item">
          <div id="slide-frame-wrapper">
            <div id="slide-frame">
            </div>
            <div id="slide-draggable">
            </div>
          </div>
          <div class="item node-blocks">
            <div class='node-handle'> Drag Me</div>
            <textarea cols="30" rows="1"></textarea>
          </div>
          <div class="item node-blocks">
            <div class='node-handle'> Drag Me</div>
            <textarea cols="30" rows="1"></textarea>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<span style="height: 30px; width: 30px; background: blue;">dasdad</span>
</body>
