<div id="presentation">
  <div id="main-slide" class="col-sm-10 col-xs-12" style="padding:0">
    <div class="col-xs-3">
      <div class="row">
        <div id="functionality-buttons">
          <p style="font-color: white"> Utility </p>
          <a id="add-default-textblock-button">
            <span class="fa fa-plus fa-2x" title="Edit"></span>
          </a>
          <a id="add-resize-textblock-button">
            <span class="fa fa-calendar-plus-o fa-2x" title="Edit"></span>
          </a>
          <a id="add-note-textblock-button">
            <span class="fa fa-plus-square fa-2x" title="Edit"></span>
          </a>
          <a href=""><span class="fa fa-amazon fa-2x" title="Edit" style="color:#CD5C5C"></span></a>
          <a href=""><span class="fa fa-google fa-2x" title="Edit" style="color:#CD5C5C"></span></a>
          <a href=""><span class="fa fa-facebook-square fa-2x" title="Edit" style="color:#CD5C5C"></span></a>
          <a href=""><span class="fa fa-twitter fa-2x" title="Edit" style="color:#CD5C5C"></span></a>
          <a href=""><span class="fa fa-yc-square fa-2x" title="Edit" style="color:#CD5C5C"></span></a>
          <a href=""><span class="fa fa-youtube fa-2x" title="Edit" style="color:#CD5C5C"></span></a>
        </div>
        <div class="col-xs-11" style="padding:0px; margin-top: 30px">
          <div class="menu-options col-xs-1" style="padding: 0">
          </div>
          <button type="button" id="changing-background-image" class="col-xs-10 slide-buttons" style="padding: 0; display:none;">
            background
          </button>
          <div class="col-xs-10" id="image-folder" style="display:none;">
          </div>
        </div>
        <div class="col-xs-12" style="padding:0px; margin-top: 30px">
          <div class="menu-options col-xs-1" style="padding: 0">
          </div>
          <button type="button" class="col-xs-9 slide-buttons" style="padding: 0; display:none;">
          background
          </button>
        </div>
        <div class="col-xs-12" style="padding:0px; margin-top: 30px">
          <div class="menu-options col-xs-1" style="padding: 0">
          </div>
          <button type="button" class="col-xs-9 slide-buttons" style="padding: 0; display:none;">
          background
          </button>
        </div>
        <div class="col-xs-12" style="padding:0px; margin-top: 30px">
          <div class="menu-options col-xs-1" style="padding: 0">
          </div>
          <button type="button" class="col-xs-9 slide-buttons" style="padding: 0; display:none;">
          background
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-9 center-block" style="height: 100%; padding:0">
      <div id="slide-container">

        <div id="slide-frame-wrapper">
          <div id="slide-frame">
          </div>
        </div>
        <div id="node-frame-wrapper">
          <div class="item node-blocks">
            <div class='node-handle'> Drag Me</div>
            <textarea cols="30" rows="1"></textarea>
          </div>
          <div class="item node-blocks">
            <div class='node-handle'> Drag Me</div>
            <textarea cols="30" rows="1"></textarea>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-2 col-xs-9">
  </div>
</div>
