<div class="col-xs-12">
  <h1 style="color: #FAF0E6">Sign Up!!!</h1>
</div>

<div id="sign-up-form" class="col-xs-3">
  <%= form_for(@user) do |f| %>

    <%= f.text_field :email, placeholder: "Email Address" %>

    <%= f.password_field :password, placeholder: "Password" %>

    <%= f.password_field :password_confirmation, placeholder: "Confirm The Password" %>

    <%= f.submit "Create The Account", class: "btn btn-large btn-primary"%>
  <% end %>
</div>
