

// presentation page initialization
$(document).ready(presentation_page_handler);
$(document).on('page:load', presentation_page_handler);

// main
function presentation_page_handler(){
  utility_buttons_handler();
  left_side_panels_handler();

}
////

//////////// utility buttons handler ///////////////////
function utility_buttons_handler(){
  $('#functionality-buttons a span').hover(function(){
    $(this).removeClass('fa-2x').addClass('fa-3x');
  }).mouseleave(function(){
    $(this).removeClass('fa-3x').addClass('fa-2x');
  }).unbind('click').bind('click', function(){
    var id = $(this).parent().attr('id');
    if (id === 'add-default-textblock-button'){
      add_default_textblock();
    }
    else if (id === 'add-resize-textblock-button'){
      add_reszize_textblock();
    }
    else if (id === 'add-note-textblock-button'){
      add_note_textblock();
    }
  });
}

// normal text block: allows resize, dragging
function default_text_block_html(){
  var html = "<div class='text-block'><div class='handle'></div><textarea class='text-area'></textarea><div class='block-menu'></div></div>"
  return html;
}

function add_default_textblock(){
  var $new_textblock = default_text_block_html();
  $('#slide-frame').append($new_textblock)
  $('.text-block').draggabilly({
    containment: '#slide-frame',
    handler: '.handle'
  }).find('.block-menu').click(function(){
    $(this).parent().remove();

  });
}


// resizable text block: allows changing size of text when the block is resize

function resize_text_block_html(){

}

function add_resize_textblock(){

}

// note text block: take node

function note_textblock_html(){

}

function add_note_textblock(){

}
///////////////////End Utility Handler//////////////////


////Left side panels ////////////

function left_side_panels_handler(){

}

///changing background of slide

function changing_slide_background(){

}
