/* line 5, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/main_pages.scss */
#main-page-header {
  height: 80px;
  background: #D3D3D3;
}

/* line 9, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/main_pages.scss */
body {
  background: #DCDCDC;
}

/* line 12, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/main_pages.scss */
#page-title {
  color: #F08080;
  font-family: 'Poiret One', cursive;
  margin: 30px;
}

/* line 17, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/main_pages.scss */
#header-option-div {
  background: #D3D3D3;
  border: 0px;
}

/* line 22, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/main_pages.scss */
#main-page-body {
  background: white;
  height: 1000px;
  border-radius: 20px;
}

/* line 28, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/main_pages.scss */
.front-page-icon {
  font-size: 20px;
}

/* line 32, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/main_pages.scss */
.item.w2.h2 {
  width: 100px;
  height: 100px;
  background: red;
}

/* line 37, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/main_pages.scss */
.item.w2.h4 {
  width: 100px;
  height: 200px;
  background: blue;
}

/* line 44, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/main_pages.scss */
.item.w4.h2 {
  width: 200px;
  height: 100px;
  background: gray;
}

/* line 50, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/main_pages.scss */
.item.w4.h4 {
  width: 200px;
  height: 200px;
  background: purple;
}

/* line 57, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/main_pages.scss */
.grid.w2 {
  width: 40%;
}
