/* line 1, /Users/tunguyen/Documents/presentation/app/assets/stylesheets/slides.scss */
#slide-frame {
  resize: both;
  overflow: auto;
  background: black;
  min-height: 250px;
  max-height: 500px;
  max-width: 100%;
  min-width: 50%;
}
