#block-decorator{
  background:rgba(0, 160, 181, 0.3);
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  float: right;
  #block-decorator-options{
    padding: 0px;
    margin: 0;
    li{
      list-style: none;
      margin: 5px;

    }

    .block-decorator-border-size{
      height: 40px;
      .border-size{
        background: black;
        height: 100%;
        width: 80%;
        float: left;
      }

      .block-border-size-adjustable{
        float: left;
        .arrow-up{

          span:hover{
            color: #CD5C5C;
          }
        }

        .arrow-down{
          span:hover{
            color: #CD5C5C;
          }
        }
      }
    }

    .block-decorator-border-radius{
      height: 40px;
      .border-radius{
        background: black;
        height: 100%;
        width: 80%;
        float: left;
      }

      .block-border-radius-adjustable{
        float: left;
        .arrow-up{
          span:hover{
            color: #CD5C5C;
          }
        }

        .arrow-down{
          span:hover{
            color: #CD5C5C;
          }
        }
      }

    }

    .block-decorator-border-color{
      height: 40px;
      width: 100%;

      .border-color{
        width: 100%;
        height: 100%;
        overflow-x: scroll;

        .color-options{
          height: 100%;
          background: #A9A9A9;
          div{
          border: solid;
          border-color: #5F9EA0;
          border-width: 2px;
          border-radius: 2px;
          height: 100%;
          width: 40px;
          float: left;
          }
        }
      }

    }

    .block-decorator-background-color{
      height: 40px;
      width: 100%;

      .background-color{
        width: 100%;
        height: 100%;
        overflow-x: scroll;

        .color-options{
          height: 100%;
          background: #A9A9A9;
          div{
          border: solid;
          border-color: #5F9EA0;
          border-width: 2px;
          border-radius: 2px;
          height: 100%;
          width: 40px;
          float: left;
          }
        }
      }

    }



  }
}









.text-edit-buttons{
  background: rgba(54, 44, 161, 0.2);
  li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    align: middle;
    a span:hover{
      color: #CD5C5C;
    }
  }
}
