.code-block{
  width: 200px;
  position: absolute;
  border-width: 0;
  .handler{
    background: #FFA07A;
    height: 20px;
    width: 100%;
    .code-block-draggable{
      width: 30%;
      height: 100%;
      float: left;
    }

    .code-block-language{
      width: 40%;
      height: 100%;
      float: left;
    }

    .code-block-removable{
      float: right;
    }

    .code-block-removable:hover{
      color: blue;
      cursor: pointer;
    }

    div:hover{
      background: red;
    }
  }

  .code-block-body{
    position: relative;
    background: #D3D3D3;
    top: 0;
    height: 100%;
  }

}
