.image-slide-block{
  width: 200px;
  position: absolute;

  .handler{
    height: 20px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #FFA07A;
    padding: 0;
    margin: 0;
    display: none;
    li{
      float: left;
      list-style: none;
    }
    .image-block-draggable{
      height: 100%;
      width: 30%;
      float:left;

    }

    .image-url-uploadable{
      height: 100%;
      width: 30%;
      position: relative;
      display: inline-block;
      float: left;

      .url-upload-button{
        width: 100%;
        height: 20px;
        position: relative;
      }

      .image-url-upload{
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 6px 0px;
        z-index: 1;
        display: none;


        .url-placeholder{
          width: 80%;
          position: relative;
          float: left;
          input{
            width: 100%;
            position: relative;
          }
        }

        .image-uploadable{
          width: 20%;
          position: relative;
          float: right;
        }
      }
    }

    .image-file-uploadable{
      height: 100%;
      width: 30%;
      float: left;
      .image-file-upload{
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 6px 0px;
        z-index: 1;
        display: none;
      }

    }

    .image-block-removable{
      float: right;
      i:hover{
        color: blue;
        cursor: pointer;
      }
    }

    .image-block-removable:hover{
      color: blue;
      cursor: pointer;
    }
    li:hover{
      background: #FF7F50;
    }

  }
  .image-block-body{
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;

    img{
      border-style: solid;
      border-width: 0px;
      height: 100%;
      width: 100%;
    }
  }
}
