// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-page-header {
  height: 80px;
  background: #D3D3D3;
}
body{
  background: #DCDCDC;
}
#page-title{
  color: #F08080;
  font-family: 'Poiret One', cursive;
  margin: 30px;
}


#header-option-div{
  background: #D3D3D3;
  border: 0px;
}

 #main-page-body{
   background: white;
   height: 1000px;
   padding: 0px;
 }



 .front-page-icon{
   font-size: 20px;
 }

 .item.w2.h2 {
   width: 100px;
   height:100px;
   background: red;
  }
  .item.w2.h4{
    width: 100px;
    height: 200px;
    background: blue;

  }

  .item.w4.h2{
    width: 200px;
    height: 100px;
    background: gray;
  }

  .item.w4.h4{
    width: 200px;
    height: 200px;
    background: purple;
  }


.grid.w2{ width: 40%; }
