.presentations-show{
  background: rgba(0, 191, 187, 0.2);
}


.presentation-operations{
  background: rgba(114, 86, 78, 0.3);

}


.presentation-blocks{
  margin: 1%;
  width: 20%;
  height: 100px;
  border-style: solid;
  border-width: 5px;
  border-color: gray;
  float: left;

}
