#presentation{
  background-image: url(http://static.tumblr.com/3nghtcy/cRImezufo/low_contrast_linen.png);
  height: 1000px;
  overflow: 100%;
}

#main-slide{
  height: 1000px;
}


#slide-container{
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}

#slide-container-header{
  width: 100%;
  height: 100px;
  display: block;
  background: rgba(44, 44, 44, 0.9);
}

#slide-container-body{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(106, 113, 109, 0.2);
}
#node-frame-wrapper{
  width: 20%;
  height: 100%;
  float: left;
}

#slide-frame-wrapper{
  width: 80%;
  height: 50%;
  float: left;
}

#slide-frame-wrapper:hover{
  background: rgba(1, 2, 3, 0.6);
}

#slide-frame{
  background: #DCDCDC;
  height: 100%;
  width: 95%;
  float:left;
  position: relative;
}

#slide-draggable{
  float: left;
  width: 5%;
  height: 10%;
  background: white;
}

.node-blocks{
  border-radius: 5%;
  width: 30%;
  height: 15%;
  background: #FFD700
}
.node-blocks textarea{

  margin: 2%;
  width: 96%;
  height: 70%;
}
.node-handle{
  width: 90%;
  margin: 5%;
  height: 15%;
  background-color: rgba(9, 0, 0, 0.2);
}



#functionality-buttons{
  background: rgba(44, 44, 44, 0.9);
  padding: 2%;
  margin: 5%;
  border-radius: 10px;
  width: 90%;
  height: 120px;
}
#functionality-buttons p{
  color: white;
  opacity: 1;
}


.menu-options{
  margin: 0px;
  background: #98FB98;
  height: 50px;
}

.menu-options:hover{
  background: #778899;
}

.slide-buttons{
  height: 50px;
  background: #20B2AA;
}

.image-block{
  padding: 0px;
  border-radius: 10px;
  border-style: solid;
  border-color: #A9A9A9;
}
.color-block{
  height: 50px;
  border-radius: 5;
  border-style: solid;
  border-color: #A9A9A9;
}

#image-folder{
  padding:0px;
}

#test{
  -webkit-transorm:scale(2,10);
}
