.hljs {
  display: block;
  overflow-x: auto;
  padding: 2px;
}
.hljs,
.hljs-subst {
  font-size: 14px;
  background: #DCDCDC;
  font-family: "'Open Sans Condensed', sans-serif"
}

.editable-textblock{
  position: absolute;
  width: 100px;
  border-radius: 10px;
  .handler {
    background: #FFA07A;
    height: 20px;
    width: 100%;

    .text-block-draggable{
      width: 30%;
      height: 100%;
      float: left;
    }

    .text-block-editable{
      width: 40%;
      height: 100%;
      float: left;
    }

    .text-block-removable{
      float: right;
    }
    .text-block-removable:hover{
      color: blue;
      cursor: pointer;
    }

    div:hover{
      background: red;
    }
  }

  .editable-textblock-body{
    background: #F5F5DC;
    position: relative;
    top: 0;
    height: 100%;
  }
}

#text-edit-size{
  #font-options{
    position: relative;
    width: 40px;
    height: 20px;
    overflow: auto;
    a span{
      padding-right: 3px;
      color: white;
    }
    a span:hover{
      color: 	#CD5C5C;
      cursor: pointer;
    }
  }

  .ql-size{

  }

}
