/// text block   ///////
.text-block{
  position: absolute;
  width: 200px;
}


////handler

.text-block .handler {
  background: #FFA07A;
  height: 20px;
  width: 100%;
  display: none;
}


.text-block .handler .text-block-draggable{
  width: 30%;
  height: 100%;
  float: left;
}


.text-block .handler .text-block-editable{
  width: 40%;
  height: 100%;
  float: left;
}

.text-block .handler .text-block-removable{
  float: right;
}

.text-block .handler .text-block-removable:hover{
  color: blue;
  cursor: pointer;
}

.text-block .handler div:hover{
  background: red;
  font-size: 100%;
}




//////testing////

.text-block-body{
  position: relative;
  top: 0;
}


.text-block-body > textarea,
.text-block-body > pre {
  padding: 5px;
  font: 400 13px/16px helvetica, arial, sans-serif;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
}


.text-block-body > textarea {
  /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  /* This height is used when JS is disabled */
  height: 100px;
}

.text-block-body.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}
.text-block-body > pre {
  display: none;
}
.text-block-body.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}
