<div class="container col-xs-12" id="main-page-header">
  <div class="col-sm-5 col-xs-12">
    <div class="col-xs-3">
    </div>
    <div class="col-sm-3">
      <h1 id="page-title">Presentation</h1>
    </div>
  </div>
  <div class="col-sm-2 col-xs-0">
  </div>
  <div class="col-sm-5 col-xs-12">
    <div id="header-option-div" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-options">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Info</a>
        </div>
        <div class="collapse navbar-collapse" id="header-options">
          <ul class="nav navbar-nav">
            <li class-"active"><a href='#'></a></li>
            <li><a href='#'>Sign in</a></li>
            <li><a href='#'>Account</a></li>
            <li><a href='#'>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
